{% extends "layout/layout.html" %}
{% block content %}
    <article class="content">
        <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
            <div class="title-block">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title">
                            Admin Menu
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="header-block">
                                <h4 class="title">Password Generator</h4>
                            </div>
                        </div>
                        <div class="card-block">
                            <form action="{{ url_for('admin_pw_show') }}" method="POST" id="pw_gen" name="pw_gen">
                                <div class="form-group">
                                    <input type="text" id="password" name="password" value="TEST" class="form-control">
                                    <div class="form-group"></div>
                                    <div class="gen_pw_responsed_data"></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-default" id="gen_pw_button" type="button">Generate Password Hash
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="header-block">
                                <h4 class="title">IP</h4>
                            </div>
                        </div>
                        <div class="card-block">
                            My IP : {{ user_ip }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}